<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="dashboard">
  <div class="dashboardMainContainer">

    <div class="dashboardTextContainer">
      <h1>DASHBOARD</h1>


      <a th:if="${canManageProjects}" th:href="@{/projects/new}">
        <h2>New Project</h2>
      </a>
      <a th:href="@{/projects}">
        <h2>My Projects</h2>
      </a>
      <a th:href="@{/mySubTasks/sortBy}">
        <h2>My SubTasks</h2>
      </a>
      <a th:if="${isAdmin}" href="/adminpanel">
        <h2>Admin Panel</h2>
      </a>
      <a th:if="${isAdmin}" href="/awaitingusers">
        <h2>Awaiting Users</h2>
      </a>

    </div>
    <a href="/logout" class="logout">
      <h2>Log out</h2>
    </a>
  </div>
</div>

</body>
</html>