@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent-color: #FF325A;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.5s;

}
a:hover {
    color: var(--accent-color);
}

.dashboardMainContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #FFF0F3;
}
.dashboardTextContainer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: start;
}
.dashboardMainContainer h1 {
    font-weight: 700;
}

.dashboardMainContainer h2 {
    font-weight: 500;
}

.logout {
    justify-self: end;
    align-self: start;
    margin-left: 2em;
}

.taskWrapper {
    display: flex;
    gap: 2em;
}
.taskListContainer {
    position: absolute;
    left: calc(15%);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    overflow-y: scroll;
    gap: 4em;
    transform: scale(85%);
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.assigneeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
h1, h3 {
    margin: 0;
    padding: 0.2em 0;
    text-align: center;
}
.taskListContainer.big {
    align-self: center;
    justify-self: center;
    margin-top: 3em;
    transform: scale(100%);
}
.taskListContainer::-webkit-scrollbar {
    display: none;
}
.taskListContainer h1 {
    font-size: 3em;
    font-weight: 800;
}
.hidden {
    visibility: hidden;
}

.taskContentMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.taskContentContainer {
    display: flex;
    align-items: center;
    gap: 2em;
}
.taskelement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
}
.taskelementEnd {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1em;
    text-align: end;
}
.taskelementEnd h2 {
    text-align: end;
}
.taskelementStart {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1em;
}
.taskelement h5 {
    font-weight: 200;
}
.taskelementStart h5 {
    font-weight: 200;
}
.taskelementEnd h5 {
    font-weight: 200;
}
.taskelement h4 {
    font-size: .75em;
    font-weight: 500;
}
.taskelementStart h4 {
    font-size: .75em;
    font-weight: 500;
}
.taskelementEnd h4 {
    font-size: .75em;
    font-weight: 500;
}
.taskelement h2 {
    font-size: 1.5em;
}
.taskelementStart h2, i {
    font-size: 1.5em;
}

.taskelementStart i {
    margin-bottom: 1em;
    margin-right: .5em;
}
.trashcan {
    color: var(--accent-color);
    margin-bottom: 1em;
}

.taskelementEnd h2 {
    font-size: 1.5em;
}
.taskelement h5, .taskelement h2, .taskelement h4 {
    margin: 0;
}
.taskelementEnd h5, .taskelementEnd h2, .taskelementEnd h4 {
    margin: 0;
}
.taskelementStart h5, .taskelementStart h2, .taskelementStart h4 {
    margin: 0;
}

.dot {
    font-weight: 400;
    color: var(--accent-color);
    font-size: 3em;
}

.subtaskContentMainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.subtaskContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.addSubproject {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}
.addSubtask {
    display: flex;
    align-items: center;
    gap: 1em;
}


.h-separator {
    width: 90%;
    height: 2px;
    margin: 40px auto;
    background: linear-gradient(to right, white, #FF325A, white);
}

.v-separator {
    width: 2px;
    height: 2em;
    margin: auto;
    background: linear-gradient(to bottom, white, #FF325A, white);
}

.avatargrid {
    display: flex;
    gap: 1em;
    padding: .5em;
}

.avatar {
    width: 2em;
    height: 2em;
    background-color: var(--accent-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: .5em;

}
.avatar--small {
    font-size: .75em;


}
.avatar--green {
    background-color: #32A852;
}

.assignee {
    display: flex;
    align-items: center;
}


.iconbutton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;
}
.iconbutton:hover {
    color: var(--accent-color);
    transition: 0.4s;
}

.buttoncontainer {
    display: flex;
}


.description-box {
    border: 2px solid #000;
    padding: 20px;
    position: relative;
    margin: 0 auto 20px auto;
    background-color: #fff;
    width: 33%;
}

.description-box textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 14px;
    text-align: left;
    line-height: 1.2;
    background: transparent;
    outline: none;
    height: 70px;
}

.char-counter {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #555;
}

.description-label {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.input-group {
    position: relative;
    margin: 30px auto;
    width: 33%;
    min-width: 300px;
}

.input-group input {
    width: 100%;
    text-align: center;
    padding: 12px 10px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    outline: none;
}

.input-group input::placeholder {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #888;
}

.date-container {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.date-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-group label {
    margin-bottom: 5px;
}

.create-project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.submit-btn {
    background-color: #ff3d67;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #e93359;
}

h2, .description-label, .date-group label {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.deleteknap {
     border: none;
     background-color: white;
    cursor: pointer;

}

.inputWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.inputWrapperTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.inputName {
    font-size: 3em;
    font-weight: 800;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    z-index: 2;
    font-family: Montserrat;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
    height: 150px;
}
.inputName::-webkit-scrollbar {
    display: none;
}

.inputDescriptionBox {
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    min-height: 100px;
    background: white;
    padding: 2em;
    box-shadow: 0 20px 80px #ffb5c4;
    transition: 1.5s ease;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.inputDescriptionText::-webkit-scrollbar {
    display: none;
}
.inputDescriptionBox:hover {
    box-shadow: 0 10px 40px var(--accent-color);
}
.gradientBorder {
    background: linear-gradient(to right, white, #FF325A, white);
    padding: 0em;
    display: inline-block;
    border-radius: 5px;
    height: 100%;
}

.inputDescriptionText {
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    flex-wrap: wrap;
    resize: none;
    text-align: center;
}

.inputDropdown {
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;

}
.inputDropdown:hover {
    color: var(--accent-color);
}
.dropdownWrapper {
    display: flex;
    gap: 4em;
}


.saveButton {
    font-family: Montserrat;
    font-weight: 700;
    background: var(--accent-color);
    border: none;
    color: white;
    padding: 1em 3em;
    cursor: pointer;
    margin-top: 2em;
    transition: 1.5s ease;
}

.saveButton:hover {
    box-shadow: 0 20px 60px #ffb5c4;
    background-color: #ff5274;
}


.loginWrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.loginBox {
    font-family: Inter;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4em;
    background-color: transparent;
}

.input-box {

    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #FF325A;
    box-shadow: 1px 2px 153px 1px rgba(255,50,90,1);
    -webkit-box-shadow: 1px 2px 153px 1px rgba(255,50,90,1);
    -moz-box-shadow: 1px 2px 153px 1px rgba(255,50,90,1);
    padding: 0;
    display: flex;
    background-color: white;
}


.box {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
    color: #FF325A;
    background: white;
    border:none;
}



.loginButton {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color:#FF325A;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1em;
    font-weight: bold;
}







