<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>


<div class="loginWrapper">
  <div class="loginBox">

    <p th:if="${notFree}">There is already an employee with this username</p>

    <form th:action="@{/create/user}" th:object="${employee}" method="post" >
      <div class="input-box">
        <label for="employeeName"></label>
        <input class="box" type="text" id="employeeName" name="awaitingEmployee_name" placeholder="NAME" required>
      </div>

      <div class="input-box">
        <label for="employeeEmail"></label>
        <input class="box" type="text" id="employeeEmail" name="awaitingEmployee_email" placeholder="EMAIL" required>
      </div>

      <div class="input-box">
        <label for="employeeUsername"></label>
        <input class="box" type="text" id="employeeUsername" name="awaitingEmployee_username" placeholder="USERNAME" required>
      </div>

      <div class="input-box">
        <label for="employeePassword"></label>
        <input class="box" type="password" id="employeePassword" name="awaitingEmployee_password" placeholder="PASSWORD" required>
      </div>

      <button type="submit" class="loginButton">REQUEST</button>
    </form>

    <a class="requestaccount" href="/login">Back to login</a>

  </div>
</div>



</body>
</html>