<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Subproject</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer big">
  <form class="inputWrapper"
        th:action="@{/subprojects/update}"
        th:object="${subproject}"
        method="post">

    <input type="hidden" th:field="*{subprojectID}"/>
    <input type="hidden" th:field="*{projectID}"/>

    <textarea placeholder="Subproject Name" th:field="*{subprojectName}" class="inputName" rows="2" maxlength="100" required></textarea>

    <div class="gradientBorder">
      <div class="inputDescriptionBox">
        <textarea placeholder="Subproject Description" th:field="*{subprojectDescription}" class="inputDescriptionText" rows="4" maxlength="256"></textarea>
      </div>
    </div>

    <div class="inputWrapperTwo">
      <div class="date-container">
        <div class="date-group">
          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" th:field="*{subprojectStartDate}">
        </div>
        <div class="date-group">
          <label for="endDate">End Date</label>
          <input type="date" id="endDate" th:field="*{subprojectEndDate}">
        </div>
      </div>
    </div>



    <button type="submit" class="saveButton">Save</button>
  </form>
</div>

<a th:href="@{/subprojects}" class="back-link">Back to My Projects</a>
</body>
</html>
