<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer">
    <form class="inputWrapper"
          th:object="${subtask}"
          th:action="@{/subproject/{subprojectid}/edit/subtask/{subtaskid}(subprojectid=${subprojectid}, subtaskid=${subtaskid})}"
          method="post">
        <input type="hidden" th:field="${subtask.subtaskID}">

        <textarea th:field="*{subtaskName}" class="inputName" rows="4" maxlength="256"></textarea>

        <!--<input type="text" th:field="*{subtaskName}" class="inputName" >-->
        <!--<div contenteditable="true" class="inputName" th:text="*{subtaskName}"></div>-->

        <div class="gradientBorder">
            <div class="inputDescriptionBox">
                <!--<input type="text" th:field="*{subtaskDescription}" class="inputName" >-->
                <textarea th:field="*{subtaskDescription}" class="inputDescriptionText" rows="4" maxlength="256"></textarea>
                <!--<div contenteditable="true" class="inputDescriptionText" th:text="*{taskDescription}"></div>-->
            </div>
        </div>

        <div class="inputWrapperTwo">
            <div class="date-container">
                <div class="date-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" id="startDate" th:field="*{subtaskStartDate}">
                </div>
                <div class="date-group">
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" th:field="*{subtaskEndDate}">
                </div>
            </div>


            <div class="subtaskinfowrapper">
                <div class="taskelement">
                    <h5>Priority</h5>
                    <select th:field="*{subtaskPriority}" class="inputDropdown">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>

                </div>



                <div class="taskelement">
                    <h5>Estimate</h5>
                    <input th:field="*{subtaskEstimate}" class="inputDropdown" type="number">
                </div>
            <div class="taskelement">
                <h5>Status</h5>
                <select th:field="*{subtaskStatus}" class="inputDropdown">
                    <option value="Completed">Completed</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Not Started">Not Started</option>
                </select>
            </div>

            <div class="taskelement">
                <h5>Hours Spent</h5>
                <input type="number" class="inputDropdown" th:field="*{subtaskHoursSpent}">
            </div>
            </div>

        </div>



        <div class="taskelement">
            <h5>Add assignees to task</h5>
            <div class="avatargrid">

                <div class="taskelement">
                    <div class="assignee-selection">
                        <div th:each="assignee : ${projectAssignees}">
                            <label>
                                <input type="checkbox" name="employeeIds"
                                       th:value="${assignee.employeeId}"
                                       th:checked="${assigned.contains(assignee.employeeId)}" />
                                <span th:text="${assignee.employeeName}"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <button type="submit" class="saveButton">Save</button>


        </div>

    </form>
</div>


</body>
</html>