<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Project</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer big">
  <form class="inputWrapper"
        th:action="@{/projects/update}"
        th:object="${project}"
        method="post">

    <input type="hidden" th:field="*{projectId}"/>

    <textarea placeholder="Project Name" th:field="*{projectName}" class="inputName" rows="2" maxlength="100" required></textarea>

    <div class="gradientBorder">
      <div class="inputDescriptionBox">
        <textarea placeholder="Project Description" th:field="*{projectDescription}" class="inputDescriptionText" rows="4" maxlength="256"></textarea>
      </div>
    </div>

    <div class="inputWrapperTwo">
      <div class="date-container">
        <div class="date-group">
          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" th:field="*{projectStartDate}">
        </div>
        <div class="date-group">
          <label for="endDate">End Date</label>
          <input type="date" id="endDate" th:field="*{projectEndDate}">
        </div>
      </div>
    </div>

    <div class="taskelement">
      <h5>Assignees</h5>
      <div class="avatargrid">
        <div th:each="assignee : ${assignees}">
          <a th:href="@{/profile/{employeeId}(employeeId=${assignee.employeeId})}">
            <div class="avatar"
                 th:text="${#strings.substring(assignee.employeeName, 0, 1) +
                           #strings.substring(assignee.employeeName, assignee.employeeName.indexOf(' ') + 1, assignee.employeeName.indexOf(' ') + 2)}">
            </div>
          </a>
        </div>

        <a th:href="@{/project/{projectId}/assignees(projectId=${project.projectId})}">
          <div class="avatar">+</div>
        </a>
      </div>
    </div>

    <button type="submit" class="saveButton">Save</button>
  </form>
</div>

<a th:href="@{/projects}" class="back-link">Back to My Projects</a>
</body>
</html>
