<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees with a certain skill</title>
</head>
<body>

    <div>
        <h1>Select a Skill</h1>
        <form th:action=" @{/project/{projectId}/assignees/select-skill(projectId=${projectId})}" method="get">
            <select name="skill">
                <option value="">-- All employees --</option>
                <option th:each="skill : ${skills}" th:value="${skill.getSkillName()}" th:text="${skill.getSkillName()}"></option>
            </select>
            <button type="submit">Filter</button>
        </form>
    </div>
<div th:if="${foundEmployee}">
<table>
    <tr>
        <th scope="row"> Employee id</th>
        <th scope="row"> Name</th>
        <th scope="row"> Email</th>
        <th scope="row"> Username</th>
        <th scope="row"> Password</th>
        <th scope="row"> Role id</th>
        <th scope="row"> Skills</th>
        <th scope="row"> Edit panel</th>
    </tr>

    <tr th:each="i : ${listOfEmployee}">
        <td th:text="${i.getEmployeeId()}"></td>
        <td th:text="${i.getEmployeeName()}"></td>
        <td th:text="${i.getEmployeeEmail()}"></td>
        <td th:text="${i.getEmployeeUsername()}"></td>
        <td th:text="${i.getEmployeePassword()}"></td>
        <td th:text="${i.getRoleId()}"></td>
        <td>
            <li th:each="b : ${i.getSkills()}">
                <span th:text="${b.getSkillName()}"></span>
            </li>
        </td>

        <td>
            <div>
                <button><a th:href="@{/profile/{employeeId}(employeeId=${i.getEmployeeId()})}" >
                    See employee profile</a></button>
                <form th:action="@{/project/{projectId}/add/{employeeId}(projectId=${projectId}, employeeId = ${i.getEmployeeId})}" method="post">
                    <button type="submit">Add to project</button>
                </form>
            </div>
        </td>

    </tr>
</table>
</div>
    <div th:if="${noEmployee}">
        <h2>Did not find any employee with this skill</h2>
        <h2>They might already be part of the project</h2>
    </div>
    <div th:if="${notPartOfProject}">
        <h2>Did not find any employee who were not already a part of the project</h2>
    </div>
</body>
</html>