<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="loginWrapper">
    <div class="loginBox">
        <form action="/login" method="post">
            <p class="wrongLogin" th:if="${wrongLogin}">Wrong username or password</p>
            <div class="input-box">
                <label for="checkUsername"> </label>
                <input class="box" type="text" id="checkUsername" name="checkUsername" placeholder="USERNAME" required>
            </div>

            <div class="input-box">
                <label for="checkUserpassword"></label>
                <input class="box" type="password" name="checkUserpassword" id="checkUserpassword" placeholder="PASSWORD" required>
            </div>
            <button type="submit" class="loginButton">LOGIN</button>
        </form>
        <a class="requestaccount" href="/create/user">Request account</a>

    </div>
</div>

</body>
</html>