<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Projects</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer">
  <h1 th:text="${project.projectName}"></h1>

  <div class="projectInfoWrapper">
    <div class="progress-container">
      <div class="progress-bar" th:style="'width: ' + ${completion} + '%;'">
      </div>
      <span class="progress-text" th:text="${completion} + '%'"></span>
    </div>
    <div class="projectInfoContainer">
      <div class="projectInfoText">
        <h4>Estimated</h4>
        <h3 th:text="${estimate}"></h3>
      </div>
      <div class="projectInfoText">
        <h4>Actual</h4>
        <h3 th:text="${actual}"></h3>
      </div>
    </div>
    <div class="projectInfoText">
      <h4>Prediction ratio</h4>
      <h3 th:text="${predictionRatio}"
          th:class="${predictionRatio > 1.5 || predictionRatio < 0.5 ? 'text-danger' : 'text-success'}"
          >
      </h3>



    </div>
  </div>




    <a class="addSubproject" th:href="@{'/create/subproject/' + ${projectid}}">
      <span> Add sub project </span>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>







</div>

</body>
</html>
