<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer">
    <h1>My Projects</h1>

    <div th:each="project : ${projects}">
        <div class="taskContentContainer">

            <div class="taskelementEnd">
                <h5>Name</h5>
                <h2>
                    <a th:href="@{'project/' + ${project.projectId}}" th:text="${project.projectName}"></a>
                </h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5>Status</h5>
                <h2 th:text="${project.projectStatus}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5>Start Date</h5>
                <h2 th:text="${project.projectStartDate}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5>End Date</h5>
                <h2 th:text="${project.projectEndDate}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;" th:if="${isProjectManager or isAdmin}"></div>

            <div class="taskelementStart" th:if="${isProjectManager or isAdmin}">
                <h5>Actions</h5>
                <div>
                    <a th:href="@{/projects/edit/{id}(id=${project.projectId})}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a th:href="@{/projects/delete/{id}(id=${project.projectId})}"
                       onclick="return confirm('Are you sure you want to delete this project?');">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="h-separator"></div>
    </div>
</div>

</body>
</html>
