<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer">
    <div th:each="project : ${projects}">

            <a th:href="@{'project/' + ${project.projectId}}">
                <div class="projectCard">
                    <h1 th:text="${project.projectName}"></h1>
                    <div class="project-progress-container">
                        <span class="project-progress-text" th:text="${project.calculateCompletion()} + '%'"></span>
                        <div class="project-progress-bar" th:style="'width: ' + ${project.calculateCompletion()} + '%; background: linear-gradient(to right, #FF6A6A, #FF325A);'">
                        </div>
                    </div>

                </div>
            </a>



            <!--<div class="taskelementEnd">
                <h5>Name</h5>
                <h2>
                    <a th:href="@{'project/' + ${project.projectId}}" th:text="${project.projectName}"></a>
                </h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5>Status</h5>
                <h2 th:text="${project.projectStatus}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5>Start Date</h5>
                <h2 th:text="${project.projectStartDate}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5>End Date</h5>
                <h2 th:text="${project.projectEndDate}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>

            <div class="taskelement">
                <h5> Estimated Hours </h5>
                <h2 th:text="${project.sum}"></h2>
            </div>

            <div class="v-separator" style="height: 60px;"></div>-->

            <div class="taskelement">
                <a th:href="@{/project/{id}/assigneesList(id=${project.projectId})}">
                    <h5> assignees </h5>
                </a>

                <div class="avatargrid">
                    <div class="avatargrid">
                        <div th:each="assignee, iterStat : ${project.getAssignees()}" th:if="${iterStat.index < 4}">
                            <a th:href="@{/profile/{employeeId}(employeeId=${assignee.employeeId})}">
                                <div class="avatar"
                                     th:text="${#strings.substring(assignee.employeeName, 0, 1) +
                             #strings.substring(assignee.employeeName, assignee.employeeName.indexOf(' ') + 1, assignee.employeeName.indexOf(' ') + 2)}">
                                </div>
                            </a>
                        </div>

                        <div th:if="${project.assignees.size() > 4}">
                            <a th:href="@{/project/{id}/assigneesList(id=${project.projectId})}">
                                <div class="avatar avatar--extra"
                                     th:text="'+' + ${project.assignees.size() - 4}">
                                </div>
                            </a>
                        </div>

                        <a th:href="@{/project/{projectId}/assignees(projectId=${project.projectId})}">
                            <h4>add more...</h4>
                        </a>
                    </div>
                </div>
            </div>

            <!--
            <div class="v-separator" style="height: 60px;" th:if="${isProjectManager or isAdmin}"></div>

            <div class="taskelementStart" th:if="${isProjectManager or isAdmin}">
                <h5>Actions</h5>
                <div>
                    <a th:href="@{/projects/edit/{id}(id=${project.projectId})}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a th:href="@{/projects/delete/{id}(id=${project.projectId})}"
                       onclick="return confirm('Are you sure you want to delete this project?');">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>-->
        </div>


        <div class="h-separator"></div>-->

</div>

</body>
</html>
