<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="subprojectListContainer">
    <div th:each="project : ${projects}">

            <a th:href="@{'project/' + ${project.projectId}}">
                <div class="projectCard">
                    <h1 th:text="${project.projectName}"></h1>
                    <div class="project-progress-container">
                        <span class="project-progress-text" th:text="${project.calculateCompletion()} + '%'"></span>
                        <div class="project-progress-bar" th:style="'width: ' + ${project.calculateCompletion()} + '%; background: linear-(to right, #FF6A6A, #FF325A);'">
                        </div>
                    </div>


                    <div class="projectInfoContainer2">
                        <div class="projectInfoText">
                            <h4>Estimated</h4>
                            <h3 th:text="${project.calculateTotalEstimate()}"></h3>
                        </div>
                        <div class="projectInfoText">
                            <h4>Actual</h4>
                            <h3 th:text="${project.calculateTotalActual()}"></h3>
                        </div>
                        <div class="projectInfoText">
                            <h4>Prediction</h4>
                            <h3 th:text="${project.calculatePredictionRatio()}"
                                th:class="${project.calculatePredictionRatio() > 1.5 || project.calculatePredictionRatio() < 0.5 ? 'text-danger' : 'text-success'}">
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="buttoncontainer">
                    <a th:href="@{/projects/edit/{id}(id=${project.projectId})}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                    <form th:action="@{/projects/delete/{id}(id=${project.projectId})}"
                          method="post" onsubmit="return confirm('Are you sure you want to delete this subtask?')">
                        <button type="submit" class="iconbutton">
                            <i class="fa-solid fa-trash fa-2x"></i>
                        </button>
                    </form>
                </div>

            </a>



            <div class="taskelement">
                <a th:href="@{/project/{id}/assigneesList(id=${project.projectId})}">
                    <h5> assignees </h5>
                </a>
                <div class="project-assignee-wrapper">
                    <div class="avatargrid">
                        <div th:each="assignee, iterStat : ${project.getAssignees()}" th:if="${iterStat.index < 4}">
                            <a th:href="@{/profile/{employeeId}(employeeId=${assignee.employeeId})}">
                                <div class="avatar"
                                     th:text="${#strings.substring(assignee.employeeName, 0, 1) +
                             #strings.substring(assignee.employeeName, assignee.employeeName.indexOf(' ') + 1, assignee.employeeName.indexOf(' ') + 2)}">
                                </div>
                            </a>
                        </div>

                        <div th:if="${project.assignees.size() > 4}">
                            <a th:href="@{/project/{id}/assigneesList(id=${project.projectId})}">
                                <div class="avatar avatar--extra"
                                     th:text="'+' + ${project.assignees.size() - 4}">
                                </div>
                            </a>
                        </div>
                    </div>

                    <a th:href="@{/project/{projectId}/assignees(projectId=${project.projectId})}">
                        <h4>add more...</h4>
                    </a>

                </div>



                <div class="h-separator-big"></div>


            </div>


        </div>



</div>

</body>
</html>
