<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Project</title>
    <link rel="stylesheet" th:href="@{/css/newProject.css}">
</head>
<body>

<form th:action="@{/projects}" th:object="${project}" method="post">
    <label>PROJECT NAME</label>
    <input type="text" th:field="*{projectName}" required><br><br>

    <label>DESCRIPTION</label>
    <div>
        <textarea></textarea>
    </div>

    <label>STATUS</label>
    <input type="text" th:field="*{projectStatus}"><br><br>

    <label>START DATE</label>
    <input type="date" th:field="*{projectStartDate}"><br><br>

    <label>END DATE</label>
    <input type="date" th:field="*{projectEndDate}"><br><br>

    <label>COLLABORATORS</label><br>
    <div th:each="employee : ${employees}">
        <label>
            <input type="checkbox" name="assignees" th:value="${employee.employeeID}">
            <span th:text="${employee.employeeName}"></span>
        </label><br>
    </div>
    <br>

    <button type="submit">Opret projekt</button>
</form>

<a th:href="@{/projects}">Tilbage til mine projekter</a>
</body>
</html>
