<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/dashboard :: dashboard"></div>

<div class="taskListContainer big">
    <form class="inputWrapper"
          th:object="${project}"
          th:action="@{/projects}"
          method="post">

        <textarea placeholder="Project Name" th:field="*{projectName}" class="inputName" rows="2" maxlength="100" required></textarea>

        <div class="gradientBorder">
            <div class="inputDescriptionBox">
                <textarea placeholder="Project Description" th:field="*{projectDescription}" class="inputDescriptionText" rows="4" maxlength="256"></textarea>
            </div>
        </div>

        <div class="inputWrapperTwo">
            <div class="date-container">
                <div class="date-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" id="startDate" th:field="*{projectStartDate}">
                </div>
                <div class="date-group">
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" th:field="*{projectEndDate}">
                </div>
            </div>
        </div>

        <button type="submit" class="saveButton">Create</button>
    </form>
</div>

<a th:href="@{/projects}" class="back-link">Back to My Projects</a>
</body>
</html>
