<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mine Projekter</title>
</head>
<body>
<h1>My Projects</h1>

<a th:if="${isProjectManager}" th:href="@{/projects/new}">New Project</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th th:if="${isProjectManager}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectStatus}"></td>
        <td th:text="${project.projectStartDate}"></td>
        <td th:text="${project.projectEndDate}"></td>
        <td th:if="${isProjectManager}">
            <a th:href="@{/projects/edit/{id}(id=${project.projectId})}">Edit</a> |
            <a th:href="@{/projects/delete/{id}(id=${project.projectId})}"
               onclick="return confirm('Er du sikker på, at du vil slette projektet?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
