<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:replace="fragments/dashboard :: dashboard"></div>


        <div class="taskListContainer">
            <div class="projectCard">
                <h1 th:text="${subproject.subprojectName}"></h1>
                <div class="project-progress-container">
                    <span class="project-progress-text" th:text="${subproject.calculateCompletion()} + '%'"></span>
                    <div class="project-progress-bar" th:style="'width: ' + ${subproject.calculateCompletion()} + '%; background: linear-(to right, #FF6A6A, #FF325A);'">
                    </div>
                </div>


                <div class="projectInfoContainer2">
                    <div class="projectInfoText">
                        <h4>Estimated</h4>
                        <h3 th:text="${subproject.calculateTotalEstimate()}"></h3>
                    </div>
                    <div class="projectInfoText">
                        <h4>Actual</h4>
                        <h3 th:text="${subproject.calculateTotalActual()}"></h3>
                    </div>
                    <div class="projectInfoText">
                        <h4>Prediction</h4>
                        <h3 th:text="${subproject.calculatePredictionRatio()}"
                            th:class="${subproject.calculatePredictionRatio() > 1.5 || subproject.calculatePredictionRatio() < 0.5 ? 'text-danger' : 'text-success'}">
                        </h3>
                    </div>
                </div>

            </div>

            <a class="addSubproject" th:href="@{/subproject/{subprojectid}/create/task(subprojectid=${subproject.subprojectID})}">
                <span>Create new task</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>


            <div th:each="task : ${tasks}">
                <div class="taskContentContainer">
                    <div class="taskelementEnd">
                        <h5>Name</h5>
                        <a th:href="@{/subproject/{subprojectid}/edit/task/{taskid}(subprojectid=${subproject.subprojectID}, taskid=${task.taskId})}">
                            <h2 th:text="${task.getTaskName()}"></h2></a>
                        <div th:each="subtask : ${task.getSubtasks()}">
                                <div class="taskelement">
                                    <a th:href="@{/subproject/{subprojectid}/edit/subtask/{subtaskid}(subprojectid=${subproject.subprojectID}, subtaskid=${subtask.subtaskID})}">
                                        <h4 th:text="${subtask.getSubtaskName()}"></h4> </a>
                                </div>
                        </div>
                        <div class="taskelement">
                            <a class="addSubtask" th:href="@{/subproject/{subprojectid}/task/{taskid}/create/subtask(subprojectid=${task.subprojectId}, taskid=${task.taskId})}">
                                <span> Add subtask </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>

                            <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Estimate</h5>
                        <h2 th:text="${task.subtaskEstimateTotal()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskEstimate()}"></h4>
                            </div>
                        </div>
                        <div class="taskelement">
                            <span class="hidden"> Add subtask </span>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>


                    <div class="taskelement">
                        <h5>Priority</h5>
                        <h2 th:text="${task.getTaskPriority()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskPriority()}"></h4>
                            </div>
                        </div>
                        <div class="taskelement">
                                <span class="hidden"> Add subtask </span>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Deadline</h5>
                        <h2 th:text="${task.remainingDays()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.remainingDays()}"></h4>
                            </div>
                        </div>
                        <div class="taskelement">
                            <span class="hidden"> Add subtask </span>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Status</h5>
                        <h2 th:text="${task.calculateStatus()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskStatus()}"></h4>
                            </div>
                        </div>
                        <div class="taskelement">
                            <span class="hidden"> Add subtask </span>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>


                    <div class="taskelement">
                        <h5>Hours Spent</h5>
                        <h2 th:text="${task.calculateHoursSpent()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskHoursSpent()}"></h4>
                            </div>
                        </div>
                        <div class="taskelement">
                            <span class="hidden"> Add subtask </span>
                        </div>
                    </div>



                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Assignees</h5>
                        <div class="avatargrid">
                            <div th:each="assignee : ${task.getAssignees()}">
                                <a th:href="@{/profile/{assigneeid}(assigneeid=${assignee.getEmployeeId()})}">
                                <div class="avatar"
                                th:text="${#strings.substring(assignee.getEmployeeName(), 0, 1) +
                                #strings.substring(assignee.getEmployeeName(), assignee.getEmployeeName().indexOf(' ') + 1, assignee.getEmployeeName().indexOf(' ') + 2)}">
                                </div>
                                </a>

                            </div>



                        </div>


                        <div class="avatargrid">
                            <div th:each="subtask : ${task.getSubtasks()}">
                                <div th:each="assignee : ${subtask.getAssignees()}">
                                    <a th:href="@{/profile/{assigneeid}(assigneeid=${assignee.getEmployeeId()})}">

                                    <div class="avatar avatar--small"
                                         th:text="${#strings.substring(assignee.getEmployeeName(), 0, 1) +
                             #strings.substring(assignee.getEmployeeName(), assignee.getEmployeeName().indexOf(' ') + 1, assignee.getEmployeeName().indexOf(' ') + 2)}">
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="taskelement">
                            <span class="hidden"> Add subtask </span>
                        </div>


                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelementStart">
                        <h5>Actions</h5>
                        <div class="buttoncontainer">
                            <a th:href="@{/subproject/{subprojectid}/edit/task/{taskid}(subprojectid=${subproject.subprojectID}, taskid=${task.taskId})}">
                                <i class="fas fa-edit fa-2x"></i>
                            </a>
                            <form th:action="@{/subproject/{subprojectid}/delete/task/{taskid}(subprojectid=${subproject.subprojectID}, taskid=${task.taskId})}"
                            method="post" onsubmit="return confirm('Are you sure you want to delete this subtask?')">
                            <button type="submit" class="iconbutton">
                                <i class="fa-solid fa-trash fa-2x"></i>
                            </button>
                            </form>
                        </div>


                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="buttoncontainer">
                                <a th:href="@{/subproject/{subprojectid}/edit/subtask/{subtaskid}(subprojectid=${subproject.subprojectID}, subtaskid=${subtask.subtaskID})}">
                                    <i class="far fa-edit fa-lg"></i>
                                </a>

                                <form th:action="@{/subproject/{subprojectid}/delete/subtask/{subtaskid}(subprojectid=${subproject.subprojectID}, subtaskid=${subtask.subtaskID})}"
                                      method="post"
                                      onsubmit="return confirm('Are you sure you want to delete this subtask?')">
                                    <button type="submit" class="iconbutton">
                                        <i class="fas fa-trash-alt fa-lg"></i>
                                    </button>
                                </form>

                            </div>
                        </div>
                        <div class="taskelement">
                            <span class="hidden"> Add subtask </span>
                        </div>
                    </div>








                </div>


                <div class="h-separator"></div>


            </div>
        </div>



</body>
</html>