<!DOCTYPE html>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<head>
    <meta charset="UTF-8">
    <title>subprojects by project id</title>
</head>
<body>

<h1> Sub project </h1>


<div th:each="i : ${subprojectById}">
    <h3 th:text="${i.subprojectID}"></h3>
    <h3 th:text="${i.subprojectName}"></h3>
    <h3 th:text="${i.subprojectID}"></h3>
    <h3 th:text="${i.subprojectStartDate}"></h3>
    <h3 th:text="${i.subprojectEndDate}"></h3>

    <form th:action="@{/subproject/delete/{id}(id=${i.subprojectID})}" method="post" onsubmit="return confirm('Are you sure you want to delete this subpoject?')">
    <button type="submit"> Delete subproject
</div>
</body>
</html>