<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:replace="fragments/dashboard :: dashboard"></div>


        <div class="taskListContainer">
            <h1 th:text="${subproject.getSubprojectName()}"></h1>


            <div th:each="task : ${tasks}">
                <div class="taskContentContainer">
                    <div class="taskelementEnd">
                        <h5>Name</h5>
                        <h2 th:text="${task.getTaskName()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                                <div class="taskelement">
                                    <h4 th:text="${subtask.getSubtaskName()}"></h4>
                                </div>
                        </div>
                    </div>

                            <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Priority</h5>
                        <h2 th:text="${task.getTaskPriority()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskPriority()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>


                    <div class="taskelement">
                        <h5>Start Date</h5>
                        <h2 th:text="${task.getTaskStartDate()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskStartDate()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>


                    <div class="taskelement">
                        <h5>Deadline</h5>
                        <h2 th:text="${task.remainingDays()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.remainingDays()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Status</h5>
                        <h2 th:text="${task.getTaskStatus()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskStatus()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Assignees</h5>
                        <div class="avatargrid">
                            <div th:each="assignee : ${task.getAssignees()}">
                                <div class="avatar"
                                     th:text="${#strings.substring(assignee.getEmployeeName(), 0, 1) +
                             #strings.substring(assignee.getEmployeeName(), assignee.getEmployeeName().indexOf(' ') + 1, assignee.getEmployeeName().indexOf(' ') + 2)}">
                                </div>
                            </div>
                        </div>

                        <div class="avatargrid">
                            <div th:each="subtask : ${task.getSubtasks()}">
                                <div th:each="assignee : ${subtask.getAssignees()}">
                                    <div class="avatar avatar--small"
                                         th:text="${#strings.substring(assignee.getEmployeeName(), 0, 1) +
                             #strings.substring(assignee.getEmployeeName(), assignee.getEmployeeName().indexOf(' ') + 1, assignee.getEmployeeName().indexOf(' ') + 2)}">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelementStart">
                        <h5>Actions</h5>
                        <div class="buttoncontainer">
                            <a th:href="@{/subproject/{subprojectid}/edit/task/{taskid}(subprojectid=${subproject.subprojectID}, taskid=${task.taskId})}">
                                <i class="fas fa-edit fa-2x"></i>
                            </a>
                            <form th:action="@{/subproject/{subprojectid}/delete/task/{taskid}(subprojectid=${subproject.subprojectID}, taskid=${task.taskId})}"
                            method="post" onsubmit="return confirm('Are you sure you want to delete this subtask?')">
                            <button type="submit" class="iconbutton">
                                <i class="fa-solid fa-trash fa-2x"></i>
                            </button>
                            </form>
                        </div>

                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="buttoncontainer">
                                <a th:href="@{/subproject/{subprojectid}/edit/subtask/{subtaskid}(subprojectid=${subproject.subprojectID}, subtaskid=${subtask.subtaskID})}">
                                    <i class="far fa-edit fa-lg"></i>
                                </a>

                                <form th:action="@{/subproject/{subprojectid}/delete/subtask/{subtaskid}(subprojectid=${subproject.subprojectID}, subtaskid=${subtask.subtaskID})}"
                                      method="post"
                                      onsubmit="return confirm('Are you sure you want to delete this subtask?')">
                                    <button type="submit" class="iconbutton">
                                        <i class="fas fa-trash-alt fa-lg"></i>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>







                </div>
                <div class="h-separator"></div>


            </div>
        </div>



</body>
</html>