<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:replace="fragments/dashboard :: dashboard"></div>


        <div class="taskListContainer">
            <h1 th:text="${subproject.getSubprojectName()}"></h1>


            <div th:each="task : ${tasks}">
                <div class="taskContentContainer">
                    <div class="taskelementEnd">
                        <h5>Name</h5>
                        <h2 th:text="${task.getTaskName()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                                <div class="taskelement">
                                    <h4 th:text="${subtask.getSubtaskName()}"></h4>
                                </div>
                        </div>
                    </div>

                            <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Priority</h5>
                        <h2 th:text="${task.getTaskPriority()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskPriority()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>


                    <div class="taskelement">
                        <h5>Start Date</h5>
                        <h2 th:text="${task.getTaskStartDate()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskStartDate()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>


                    <div class="taskelement">
                        <h5>Deadline</h5>
                        <h2 th:text="${task.remainingDays()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.remainingDays()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelement">
                        <h5>Status</h5>
                        <h2 th:text="${task.getTaskStatus()}"></h2>
                        <div th:each="subtask : ${task.getSubtasks()}">
                            <div class="taskelement">
                                <h4 th:text="${subtask.getSubtaskStatus()}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="v-separator" th:style="'height:' + (${task.getSubtasks().size()} * 60) + 'px'"></div>

                    <div class="taskelementStart">
                        <h5>Assignees</h5>
                        <div class="avatargrid">
                            <div th:each="assignee : ${task.getAssignees()}">
                                <div class="avatar"
                                     th:text="${#strings.substring(assignee.getEmployeeName(), 0, 1) +
                             #strings.substring(assignee.getEmployeeName(), assignee.getEmployeeName().indexOf(' ') + 1, assignee.getEmployeeName().indexOf(' ') + 2)}">
                                </div>
                            </div>
                        </div>

                        <div class="avatargrid">
                            <div th:each="subtask : ${task.getSubtasks()}">
                                <div th:each="assignee : ${subtask.getAssignees()}">
                                    <div class="avatar avatar--small"
                                         th:text="${#strings.substring(assignee.getEmployeeName(), 0, 1) +
                             #strings.substring(assignee.getEmployeeName(), assignee.getEmployeeName().indexOf(' ') + 1, assignee.getEmployeeName().indexOf(' ') + 2)}">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>







                </div>
                <div class="h-separator"></div>


            </div>
        </div>



</body>
</html>